.tab-header{
    display: flex;
}

.tab-header-btn{
    border-color: var(--primary-color) !important;
    color: white;
    padding: 1rem;
    font-weight: bold;
    background-color: var(--secondary-color) !important;
}
.active-btn{
    background-color: var(--primary-color) !important;
}


.tab-body{
    height: 810px !important;
    display: flex;
    /* border: 1px solid  var(--primary-color); */
    background-color: var(--background-color) !important;
}