.tab-header{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.tab-header-btn{
    border-color: var(--primary-color) !important;
    color: white;
    padding: 1rem;
    font-weight: bold;
    background-color: var(--secondary-color) !important;
}
.active-btn{
    background-color: var(--primary-color) !important;
}


.tab-body{
    height: 810px;
    display: flex;
    border: 1px solid  var(--primary-color);
    background-color: var(--background-color);
}