.org-chart{
  height: 780px !important;
  
}



.org-chart-wrapper {
  position: relative;
}

.org-node {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform, box-shadow;
  min-width: 200px !important;
  min-height: 60px !important;
  max-width: 80px !important;
  transition: all 0.4s ease;
  overflow: 'hidden';
  z-index: 2;
}

.org-node:hover {
  box-shadow: 0 12px 20px var(--primary-color);
  transform: translateY(-6px) scale(1.03);
  z-index: 5;
}


.node-main .card-body {
  border: 1px solid var(--primary-color) !important;
}


.node-secondary .card-body{
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--third-color) !important;
}


.org-container {
    height: 300px;
    position: relative;
  }
  
  .node-box {
    padding: 12px 24px;
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    position: relative;
    z-index: 2;
  }
  

  .org-chart-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px; /* match your chart height */
    z-index: 1;
    pointer-events: none; /* allows clicks to go through */
  }


  .animated-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-path 2s ease-out forwards;
  }
  
  @keyframes draw-path {
    to {
      stroke-dashoffset: 0;
    }
  }


  .custom-modal-width .modal-dialog {
    max-width: 600px;
    width: 100%;
  }

  .custom-modal-width .modal-body ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .custom-modal-width .modal-body li {
    margin-bottom: 6px;
  }




  
  
  
  .custom-modal-width .modal-dialog {
    max-width: 600px;
    width: 100%;
  }

  .custom-modal-width .modal-body ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .custom-modal-width .modal-body li {
    margin-bottom: 6px;
  }