:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

.root {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

div{
 color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar .nav-link {
  color: var(--text-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
