:root {
  --primary-color: #205781;
  --secondary-color: #4F959D;
  --third-color: #98D2C0;
  --forth-color: #F1EFEC;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --body-color: #EEEEEE;
  --font-family: 'Arial', sans-serif
}

body {
  font-family: var(--font-family);
  background-color: var(--body-color) !important;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--text-color);
}

p {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
}


.root {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

div{
 color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color) !important;
}

.navbar .nav-link {
  color: var(--text-color) !important;
}

.hover-nav:hover {
  background-color: #aad6ff1c;
  color: var(--secondary-color)!important;               /* Bootstrap primary color */
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}


.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--third-color) !important;
  color: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}


.btn-secondary {
  background-color: var(--secondary-color) !important;
  border-color: var(--third-color) !important;
  color: #fff;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-secondary:hover {
  border-color: var(--third-color) !important;
}
.btn-info {
  background-color: var(--forth-color) !important;
  border-color: var(--third-color) !important;
}
.btn-info:hover {
  border-color: var(--secondary-color) !important;
}

.btn-close{
  color: var(--third-color) !important;
}



.btn-primary:hover,
.btn-secondary:hover,
.btn-info:hover,
.btn-info:hover,
.btn-close:hover{
  filter: brightness(1.45);
}



.card-header{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}


.card-body{
  background-color: var(--background-color) !important;
  padding: auto;
  color: var(--text-color) !important;
}

.card-footer{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.modal-header, .modal-body, .modal-footer{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}



.text-muted{
  color: var(--text-color) !important;
}


.icon-20 {
  font-size: 20px;
}

.icon-30 {
  font-size: 30px;
}