:root {
  --primary-color: #205781;
  --secondary-color: #4F959D;
  --third-color: #98D2C0;
  --forth-color: #F6F8D5;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

.theme-dropdown {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background-color: var(--background-color) !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 8px;
}

.theme-dropdown-btn{
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background-color: var(--background-color) !important;
  border: 1px solid var(--text-color) !important;
  border-radius: 8px;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

.root {
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

div{
 color: var(--text-color);
}

.navbar {
  /* background-color: var(--primary-color) !important; */
}

.navbar .nav-link {
  color: var(--text-color) !important;
}

.btn-primary {
  background-color: var(--secondary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-secondary {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

.btn-close{
  color: var(--third-color) !important;
}

.card-header{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}


.card-body{
  background-color: var(--background-color) !important;
  padding: auto;
  color: var(--text-color) !important;
}

.card-footer{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.modal-header, .modal-body, .modal-footer{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}



.text-muted{
  color: var(--text-color) !important;
}